Exercise 2 - Create a markdown cell with the title of the notebook. (1 pt)

# Data Science Final Project

Exercise 3 - Create a markdown cell for an introduction. (1 pt)

## Introduction
This notebook is created as part of the final project. It demonstrates basic concepts in data science including languages, libraries, tools, simple calculations, and markdown formatting.

Exercise 4 - Create a markdown cell to list data science languages. (3 pts)

## Popular Data Science Languages
- Python
- R
- SQL
- Scala
- Julia

Exercise 5 - Create a markdown cell to list data science libraries. (3 pts)

## Popular Data Science Libraries
- Pandas
- NumPy
- Scikit-learn
- TensorFlow
- Matplotlib

Exercise 6 - Create a markdown cell with a table of Data Science tools. (3 pts)

## Data Science Tools

| Tool             | Category           | Description                          |
|------------------|--------------------|--------------------------------------|
| Jupyter Notebook | Interactive Notebook | Write code, visualize, and explain   |
| RStudio          | IDE for R Language | Statistical computing & visualization |
| Apache Spark     | Big Data Framework | Process large datasets               |
| Tableau          | Visualization      | Create interactive dashboards        |
| TensorFlow       | Machine Learning   | Build and train ML models            |

Exercise 7 - Create a markdown cell introducing arithmetic expression examples. (1 pt)

## Examples of Arithmetic Expressions
Below is an example of multiplication and addition using Python.

Exercise 8 - Create a code cell to multiply and add numbers. (2 pts)

In [1]:
# Multiply 5 by 4 and add 3
result = (5 * 4) + 3
result

23

Exercise 9 - Create a code cell to convert minutes to hours. (2 pts)

In [2]:
# Convert 200 minutes to hours
minutes = 200
hours = minutes / 60
hours

3.3333333333333335

Exercise 10 -Insert a markdown cell to list Objectives. (3 pts)

## Objectives
- List popular programming languages for Data Science
- List common libraries used in Data Science
- Demonstrate basic arithmetic operations in Python
- Convert minutes to hours using Python
- Practice sharing notebook on GitHub

Exercise 11 - Create a markdown cell to indicate the Authorâ€™s name. (2 pts)

**Author:** Duy Le